# build files
*.[oa]
*.exe
*.dll
*.lib
*.res
*.mo

# Code::Blocks specific files
*.layout
*.depend
*.cdTemp

# VS Code specific files
.vscode

# Intermediate and final folders
build/
bin/

# Mac specific files
.DS_Store

# Settings files
bin/*.xml
