Source: screenshotscleaner
Section: graphics
Priority: optional
Maintainer: Xaviou <x.psoud@gmail.com>
Build-Depends: debhelper (>= 7.4.11~)
Homepage: https://wxstuff.xaviou.fr
Standards-Version: 3.9.8

Package: screenshotscleaner
Architecture: any
Depends: ${shlibs:Depends}
Description: Utility to cleanup screenshots images files

